{% extends "team/team_base.html" %}
{% load markup %}
{% load misc %}
{% load team_tags %}

{% block title %}
    studLAN - Teams
{% endblock title %}

{% block tabs %}
    {% team_tabs 'create' %}
{% endblock tabs %}

{% block teampage %}
    <div class="row">
        <div class="span9">
            <form class="form-horizontal" action="{% url 'create_team' %}" method="POST">
                {% csrf_token %}
                <fieldset>
                    <legend>Create new team</legend>
                    <div class="control-group">
                        <label class="control-label" for="title">{{ form.title.label }}</label>
                        <div class="controls">
                            <input class="input-xlarge" id="title" name="title" size="30" type="text" value="{% if form.title.value %}{{ form.title.value }}{% endif %}" />
                            {{ form.title.errors }}
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="tag">{{ form.tag.label }}</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on">[{{ form.tag.label|lower }}]</span>
                                <input class="input-xlarge" id="tag" name="tag" size="30" type="text" value="{% if form.tag.value %}{{ form.tag.value }}{% endif %}" />
                                <span class="help-block">Must be unique!</span>
                            </div>
                            {{ form.tag.errors }}
                        </div>
                    </div>
                    <div class="form-actions">
                        <input type="submit" class="btn btn-primary" value="Create team" />
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock teampage %}
