{% load i18n %}
{% if teams %}
    <div class="row">
        <div class="col-md-9">
            <table class="table table-bordered table-striped">
                <thead><th>Tag</th><th>Title</th><th>{% trans "Leader" %}</th></thead>
                <tbody>
                    {% for team in teams %}
                    <tr>
                        <td><a href="{{ team.get_absolute_url }}">{{ team.tag }}</a></td>
                        <td>{{ team.title }}</td>
                        <td>{{ team.leader }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>  
    </div>
{% else %}
    <div class="row">
        <div class="col-md-9">
            <div class="alert alert-danger"><p>{% trans "No teams yet" %}</p></div>
        </div>
    </div>
{% endif %}
