{% load i18n %}
<div class="row table-tabs">
    <div class="col-md-9">
        <ul class="nav nav-tabs nav-team">
            <li{% if active == 'all' %} class="active"{% endif %}><a href="{% url 'teams' %}">{% trans "All Teams" %}</a></li>
            <li{% if active == 'mine' %} class="active"{% endif %}><a href="{% url 'my_teams' %}">{% trans "My Teams" %}</a></li>
            <li{% if active == 'create' %} class="active"{% endif %}><a href="{% url 'create_team' %}">{% trans "Create Team" %}</a></li>
        </ul>
    </div>
</div>
