{% extends "base.html" %}
{% load i18n %}
{% load markdown_deux_tags %}
{% load misc %}

{% block title %}
studLAN - Team - {{ team }}
{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-md-9">
            <h2>
                {{ team }}
                {% if team.is_mine %}
                    <a class="pull-right btn btn-small btn-danger" href="{% url 'disband_team' team.id %}">
                        <i class="icon-remove icon-white"></i> Disband Team
                    </a>
                {% endif %}
            </h2>
        </div>
    </div>
	
    <div class="row">
        <div class="col-md-9">
            <h3>{% trans "Leader" %}</h3>
            <h4>
                <a href="{% url 'profile' team.leader %}">{{ team.leader }} ({{ team.leader.first_name }} {{ team.leader.last_name }})</a>
            </h4>
        </div>
    </div>
	
    <div class="row">
        <div class="col-md-9">
            <h3>{% trans "Members" %}</h3>
        </div>
    </div>
	<div class="row">
        <div class="col-md-9">
            <table class="table table-bordered table-striped">
                <thead><th>{% trans "User name" %}</th><th>{% trans "Full name" %}</th><th>{% trans "Options" %}</th></thead>
                <tbody>
                    {% for member in team.members.all %}
                        <tr>
                            <td><a href="{% url 'profile' member %}">{{ member }}</a></td>
                            <td>{{ member.first_name }} {{ member.last_name }}</td>
                            <td>
                            {% if user == team.leader %}
                                <a href="{% url 'remove_member' team.id member.id %}">{% trans "Remove" %}</a>
                            {% else %}{% if user == member %}
                                <a href="{% url 'remove_member' team.id user.id %}">{% trans "Leave team" %}</a>
                            {% endif %}{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    
	
	{% if team.is_mine and users|length > 0 %}
        <div class="row">
            <div class="col-md-9">
                <form class="form-horizontal" action="{% url 'add_member' team.id %}" method="POST">{% csrf_token %}
                    <fieldset>
                        <legend>{% trans "Add member" %}</legend>
                        <div class="control-group">
                            <label class="control-label" for="select">Select</label>
                            <div class="controls">
                                <select id="selectMember" name="selectMember">
                                    {% for user in users %}
                                        <option value="{{ user.id }}">{{ user }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-actions">
                            <input type="submit" class="btn btn-primary" value="{% trans "Add member" %}" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
		
	{% endif %}

{% endblock content %}
