{% extends "base.html" %}
{% load i18n %}
{% load markdown_deux_tags %}
{% load misc %}

{% block title %}
{{ team }}
{% endblock title %}

{% block content %}

    <div class="row">
        <div class="col-md-9">
            <h2>
                {{ team }}
                {% if team.is_mine %}
                    <a class="pull-right btn btn-small btn-danger" href="{% url 'disband_team' team.id %}">
                        <i class="icon-remove icon-white"></i> Disband Team
                    </a>
                {% endif %}
            </h2>
        </div>
    </div>
	
    <div class="row">
        <div class="col-md-9">
            <h3>{% trans "Leader" %}</h3>
            <h4>
                <a href="{% url 'profile' team.leader %}">{{ team.leader }} ({{ team.leader.get_full_name }})</a>
            </h4>
        </div>
    </div>
	
	<div class="row">
        <div class="col-md-9">
            {% if team.members.all %}
                <h3>{% trans "Members" %}</h3>
                <table class="table table-bordered table-striped table-hover click-table    ">
                    <thead>
                        <th class="col-md-4">{% trans "User name" %}</th>
                        <th class="col-md-6">{% trans "Full name" %}</th>
                        <th class="col-md-2">{% trans "Options" %}</th>
                    </thead>
                    <tbody>
                        {% for member in team.members.all %}
                            <tr onclick="document.location='{% url 'profile' member %}';">
                                <td class="underline">{{ member }}</a></td>
                                <td class="underline">{{ member.get_full_name }}</td>
                                <td>
                                {% if user == team.leader %}
                                    <a class="btn btn-danger btn-xs" href="{% url 'remove_member' team.id member.id %}">{% trans "Remove" %}</a>
                                {% elif user == member %}
                                    <a class="btn btn-danger btn-xs" href="{% url 'remove_member' team.id user.id %}">{% trans "Leave team" %}</a>
                                {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-danger">This team has no members yet</div>
            {% endif %}
        </div>
    </div>

    {% if team.is_mine and users %}
        <div class="row">
            <div class="col-md-9">
                <form class="form-horizontal" action="{% url 'add_member' team.id %}" method="POST">
                    {% csrf_token %}
                    <fieldset>
                        <legend>{% trans "Add member" %}</legend>
                        <div class="form-group">
                            <label class="col-md-1 control-label" for="selectMember">Select</label>
                            <div class="col-md-4">
                                <select class="form-control" id="selectMember" name="member">
                                    {% for user in users %}
                                        <option value="{{ user.id }}">{{ user }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3 center-on-collapse form-actions-collapsed">
                                <input type="submit" class="btn btn-primary" value="{% trans "Add member" %}" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>  
    {% endif %}

{% endblock content %}
