{% load i18n %}
{% if teams %}
    <div class="row">
        <div class="col-md-9">
            <table class="table table-bordered table-striped table-hover click-table">
                <thead>
                    <th class="col-md-2">Tag</th>
                    <th class="col-md-6">Title</th>
                    <th class="col-md-4">{% trans "Leader" %}</th>
                </thead>
                <tbody>
                    {% for team in teams %}
                    <tr onclick="document.location='{{ team.get_absolute_url }}';">
                        <td>{{ team.tag }}</td>
                        <td>{{ team.title }}</td>
                        <td>{{ team.leader }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>  
    </div>
{% else %}
    <div class="row">
        <div class="col-md-9">
            <div class="alert alert-danger"><p>{% trans "No teams yet" %}</p></div>
        </div>
    </div>
{% endif %}
