{% load i18n %}

{% if teams %}
    <div class="row">
        <div class="col-md-9">
            <table class="table table-bordered table-striped table-hover click-table">
                <thead>
                    <th class="col-md-2">{% trans "Tag" %}</th>
                    <th class="col-md-4">{% trans "Title" %}</th>
                    <th class="col-md-2">{% trans "Leader" %}</th>
                    <th class="col-md-1">{% trans "Size" %}</th>
                </thead>
                <tbody>
                    {% for team in teams %}
                    <tr onclick="document.location='{{ team.get_absolute_url }}';">
                        <td>{{ team.tag }}</td>
                        <td>{{ team.title }}</td>
                        <td>{{ team.leader }}</td>
                        <td>{{ team.full_member_count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>  
    </div>
{% else %}
    <div class="row">
        <div class="col-md-9">
            <div class="alert alert-info">
                <p>{% trans "No teams." %}</p>
            </div>
        </div>
    </div>
{% endif %}
