{% extends "base.html" %}
{% load markup %}
{% load misc %}

{% block title %}
studLAN - Teams
{% endblock title %}

{% block navigation %}
    <ul class="nav">
        <li><a href="{% url root %}">News</a></li>
        {% if request.user.is_authenticated %}
            <li><a href="{% url myprofile %}">Profile</a></li>
        {% endif %}
        <li><a href="{% url competitions %}">Competitions</a></li>
        <li class="active"><a href="{% url teams %}">Teams</a></li>
    </ul>
{% endblock navigation %}

{% block content %}

    <div class="content">
        <h1>Teams</h1>
        
        <ul class="tabs">
            {% if current_tab == 'all' %}
                <li class="active"><a href="{% url teams %}">All teams</a></li>
            {% else %}
                <li><a href="{% url teams %}">All teams</a></li>
            {% endif %}
            {% if user.is_authenticated %}
                {% if current_tab == 'myteams' %}
                    <li class="active"><a href="{% url teams %}?tab=myteams">My teams</a></li>
           	     {% else %}
                    <li><a href="{% url teams %}?tab=myteams">My teams</a></li>
                {% endif %}
            {% endif %}
        </ul>
        <table class="zebra-striped">
            <thead><th>Tag</th><th>Title</th><th>Leader</th></thead>
            <tbody>
                <!-- TODO url'ify -->
                {% for team in teams %}
                    {% if current_tab == 'all' %}
                        <!-- All teams -->
                        <tr>
                            <td><a href="/team/{{ team.tag }}">{{ team.tag }}</a></td>
                            <td>{{ team.title }}</td>
                            <td>{{ team.leader }}</td>
                        </tr>
                    {% endif %}
                    {% if current_tab == 'myteams' and user.is_authenticated and team.is_mine %}
                        <!-- My teams -->
                        <tr>
                            <td><a href="/team/{{ team.tag }}">{{ team.tag }}</a></td>
                            <td>{{ team.title }}</td>
                            <td>{{ team.leader }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <!--
        <ul>
        {% for team in teams %}
            <li>
                <a href="#" rel="popover" data-placement="right" data-html="true" data-content="
                    <strong>Leader: [{{ team.tag }}]{{ team.leader }}</strong>
                    <br/><br/>
                    <ul>
                        {% for member in team.members.all %}
                            <li>[{{ team.tag }}]{{ member }}</li>
                        {% endfor %}
                    </ul>
                " data-original-title="Members">[{{ team.tag }}] {{ team.title }}</a>
            </li>
        {% endfor %}
        </ul>
        -->
        {% if user.is_authenticated %}
        <hr />
        <form action="{% url create_team %}" method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Create new team</legend>
                <div class="clearfix">
                    <label for="title">Title</label>
                    <div class="input">
                        <input class="xlarge" id="title" name="title" size="30" type="text" />
                    </div>
                </div>
                <div class="clearfix">
                    <label for="tag">Tag</label>
                    <div class="input">
                        <div class="input-prepend">
                            <span class="add-on">[tag]</span>
                            <input class="xlarge" id="tag" name="tag" size="30" type="text" />
                            <span class="help-block">Must be unique!</span>
                        </div>
                    </div>
                </div>
                <div class="actions">
                    <input type="submit" class="btn primary" value="Create team" />
                </div>
            </fieldset>
        </form>
        {% endif %}
    </div>
{% endblock content %}
