
{% extends "base.html" %}
{% load markup %}
{% load misc %}

{% block title %}
studLAN - Team - {{ team }}
{% endblock title %}

{% block navigation %}
    <ul class="nav">
        <li><a href="{% url root %}">News</a></li>
        {% if request.user.is_authenticated %}
            <li><a href="{% url myprofile %}">Profile</a></li>
        {% endif %}
        <li><a href="{% url competitions %}">Competitions</a></li>
        <li class="active"><a href="{% url teams %}">Teams</a></li>
    </ul>
{% endblock navigation %}

{% block content %}

	<h2>{{ team }} {% if team.is_mine %}<a href="{% url disband_team team.id %}">Disband Team</a>{% endif %}</h2>
	
	<h3>Leader</h3>
	<ul>
		<li><a href="{% url profile team.leader %}">{{ team.leader }}</a></li>
	</ul>

	<h3>Members</h3>
    <ul>
    {% for member in team.members.all %}
        <li><a href="{% url profile member %}">{{ member }}</a>
        {% if user == team.leader %}
            - <a href="{% url remove_member team.tag member.id %}">Remove</a>
        {% else %}{% if user == member %}
            - <a href="{% url remove_member team.tag user.id %}">Leave team</a>
        {% endif %}
        {% endif %}</li>
    {% endfor %}
    </ul>
	
	{% if team.is_mine and users|length > 0 %}
		<hr />
		<form action="{% url add_member team.tag %}" method="POST">{% csrf_token %}
            <fieldset>
                <legend>Members</legend>
                <div class="clearfix">
                	<label for="select">Select</label>
                	<div class="input">
	                	<select id="selectMember" name="selectMember">
	                		{% for user in users %}
	                			<option value="{{ user.id }}">{{ user }}</option>
	                		{% endfor %}
	                	</select>
                	</div>
                </div>
                <div class="actions">
                    <input type="submit" class="btn primary" value="Add member" />
                </div>
            </fieldset>
        </form>
	{% endif %}

{% endblock content %}
