<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>StudLan</title>
        <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" />
        <script src="{{ STATIC_URL }}js/jquery.min.js" type="text/javascript"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-modal.js" type="text/javascript"></script>
        
        <style type="text/css">
            body {
                padding-top: 60px;
            }

            .white-text {
                color: #ccc;
            }
        </style>
    </head>
    <body>
        <div class="topbar">
            <div class="topbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="#">StudLan</a>
                    {% block navigation %}
                    {% endblock navigation %}
                    {% if not user.is_authenticated %}
                    <p class="pull-right">
                        <a data-controls-modal="modal-from-dom-register"
                           data-backdrop="true" data-keyboard="true" class="btn" href="#">Register</a>
                         <a data-controls-modal="modal-from-dom-login"
                           data-backdrop="true" data-keyboard="true" class="btn primary" href="#">Log in</a></p>
                    {% else %}
                        <p class="pull-right white-text"><a
                            href="{{ TEMPLATE_DIRS }}/logout.html"><span class="label important">Log out </span></a></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="sidebar">
                <div class="well">
                    {% include "sidebar.html" %}
                </div>
            </div>
            <div class="content">
                {% block content %}
                {% endblock content %}
                <footer>
                <p><a
                    href="https://github.com/dotKom/studlan">https://github.com/dotKom/studlan</a></p>
                </footer>
            </div>
        </div>
        {% include "auth.html" %}
    </body>
</html>
