{% extends "base.html" %}
{% load markup %}
{% block navigation %}
    <ul class="nav">
        <li class=""><a href="{% url news %}">News</a></li>
        <li class="active"><a href="{% url competitions %}">Competitions</a></li>
    </ul>
{% endblock navigation %}

{% block content %}
    <div class="content">
        <h2>{{ competition.title }} </h2>
        <p><span class="label {{ competition.status_label }}">{{ competition.status_text }}</span> <span class="label info">{{ competition.activity.title }}</span></p>
        <div class="activity_image" style="background: url('{{ competition.activity.image_url }}');">
        </div>
        <p>{{ competition.desc|striptags|markdown }}</p>
        {% if user.is_authenticated %}
            {% if competition.status == 1 %}
                <a class="btn primary" href="#">Participate</a>
            {% endif%}
        {% endif %}
    </div>
{% endblock content %}