{% extends "base.html" %}
{% load markup %}

{% block title %}
studLAN - Competition - {{ competition.title }}
{% endblock title %}

{% block navigation %}
    <ul class="nav">
        <li><a href="{% url news %}">News</a></li>
        <li class="active"><a href="{% url competitions %}">Competitions</a></li>
        <li><a href="{% url teams %}">Teams</a></li>
    </ul>
{% endblock navigation %}

{% block content %}
    <div class="content">
        <h2>{{ competition.title }}</h2>

        <ul class="breadcrumb">
            <li><a href="{% url news %}">studLAN</a> <span class="divider">/</span></li>
            <li><a href="{% url competitions %}">Competitions</a> <span class="divider">/</span></li>
            <li><a href="{% url competitions %}?tab={{ competition.activity.title }}">{{ competition.activity.title }}</a> <span class="divider">/</span></li>
            <li class="active">{{ competition.title }}</li>
        </ul>
        
        <p>
            <span class="label {{ competition.status_label }}">{{ competition.status_text_verbose }}</span>
            <a href="#" class="label info" rel="popover" data-placement="below" data-html="true" data-content="{{ competition.activity.desc|markdown }}" data-original-title="{{ competition.activity.title }}">{{ competition.activity.title }}</a>
        </p>
        <div class="activity_image" style="background: url('{{ competition.activity.image_url }}');"></div>
        <br />

        {% if competition.use_teams %}
            <h3>Participating teams</h3>
            <table class="zebra-striped">
                <thead><th>Team</th><th>Leader</th></thead>
                <tbody>
                    {% for team in competition.get_teams %}
                        <tr>
                            <td>[{{ team.tag }}] {{ team.title }}</td>
                            <td>{{ team.leader }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3>Participants</h3>
            <ul>
                {% for participant in competition.participants.all %}
                    <li>{{ participant.username }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if user.is_authenticated and not competition.use_teams %}
            <p>
            {% if competition.status == 1 %}
                {% if user not in competition.participants.all %}
                    <a class="btn large primary" href="{{ TEMPLATE_DIR }}/competitions/{{ competition.id }}/join.html">Join competition</a>
                {% else %}
                    <a class="btn large danger" href="{{ TEMPLATE_DIR }}/competitions/{{ competition.id }}/leave.html">Leave competition</a>
                {% endif %}
            {% endif %}
            {% if competition.status == 3 %}
                <a class="btn large danger" href="{{ TEMPLATE_DIR }}/competitions/{{ competition.id }}/forfeit.html">Forfeit competition</a>
            {% endif %}
            </p>
        {% endif %}
        {% if user.is_authenticated and competition.use_teams and is_leader %}
            <br/>
            <p>
            {% if competition.status == 1 %}

                {% if has_teams_not_in_competition %}
                    <form action="{{ TEMPLATE_DIR }}/competitions/{{ competition.id }}/join_team.html" method="POST">
                        {% csrf_token %}
                        <select name="team" id="team">
                            {% for team in teams_not_in_competition %}
                                <option value="{{ team.id }}">[{{ team.tag }}]{{ team.title }}</option>
                            {% endfor %}
                        </select>
                        <input class="btn success" type="submit" value="Join competition"/>
                    </form>
                {% endif %}

                {% if has_teams_in_competition %}
                    <form action="{{ TEMPLATE_DIR }}/competitions/{{ competition.id }}/leave_team.html" method="POST">
                        {% csrf_token %}
                        <select name="team" id="team">
                            {% for team in teams_in_competition %}
                                <option value="{{ team.id }}">[{{ team.tag }}]{{ team.title }}</option>
                            {% endfor %}
                        </select>
                        <input class="btn danger" type="submit" value="Leave competition"/>
                    </form>
                {% endif %}

            {% endif %}
            {% if competition.status == 3 %}

                {% if has_teams_in_competition %}
                    <form action="{{ TEMPLATE_DIR }}/competitions/{{ competition.id }}/forfeit_team.html" method="POST">
                        {% csrf_token %}
                        <select name="team" id="team">
                            {% for team in teams_in_competition %}
                                <option value="{{ team.id }}">[{{ team.tag }}]{{ team.title }}</option>
                            {% endfor %}
                        </select>
                        <input class="btn danger" type="submit" value="Forfeit competition"/>
                    </form>
                {% endif %}

            {% endif %}
            </p>
        {% endif %}
        <h3>Description</h3>
        <p>{{ competition.desc|markdown }}</p>
        <ul class="breadcrumb">
            <li><a href="{% url news %}">studLAN</a> <span class="divider">/</span></li>
            <li><a href="{% url competitions %}">Competitions</a> <span class="divider">/</span></li>
            <li><a href="{% url competitions %}?tab={{ competition.activity.title }}">{{ competition.activity.title }}</a> <span class="divider">/</span></li>
            <li class="active">{{ competition.title }}</li>
        </ul>

    </div>
{% endblock content %}
