{% extends "base.html" %}
{% load markup %}
{% block navigation %}
    <ul class="nav">
        <li class=""><a href="{% url news %}">News</a></li>
        <li class="active"><a href="{% url competitions %}">Competitions</a></li>
    </ul>
{% endblock navigation %}

{% block sidebar %}
    <h5>Sidebar</h5>
{% endblock sidebar %}

{% block content %}
    <div class="content">
        <h2>{{ competition.title }}</h2>
        <span class="label info">{{ competition.activity.title }}</span>
        <p>{{ competition.desc|striptags|markdown }}</h2>
    </div>
{% endblock content %}