{% extends "base.html" %}
{% load markup %}

{% block title %}
studLAN - Competitions
{% endblock title %}

{% block navigation %}
    <ul class="nav">
        <li><a href="{% url root %}">News</a></li>
        <li class="active"><a href="{% url competitions %}">Competitions</a></li>
        <li><a href="{% url teams %}">Teams</a></li>
    </ul>
{% endblock navigation %}

{% block content %}
    <div class="content">
        <h1>Competitions</h1>

        <ul class="tabs">
            {% if current_tab == 'all' %}
                <li class="active"><a href="{% url competitions %}">All</a></li>
            {% else %}
                <li><a href="{% url competitions %}">All</a></li>
            {% endif %}
            {% for a in activities %}
                {% if current_tab == a.title %}
                    <li class="active"><a href="?tab={{ a.title }}">{{ a.title }}</a></li>
                {% else %}
                    <li><a href="?tab={{ a.title }}">{{ a.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        <table class="zebra-striped">
            <thead><th>Status</th><th>Title</th></thead>
            <tbody>
                {% for c in competitions %}
                    {% if current_tab == 'all' or current_tab == c.activity.title %}
                        <tr>
                            <td>{{ c.status_text }}</td>
                            <td>
                                <a href="{% url competition c.id %}">{{ c }}</a>
                                {% if c.use_teams %}
                                    - Team competition
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
