{% extends "base.html" %}
{% load markup %}

{% block title %}
studLAN - Competitions
{% endblock title %}

{% block navigation %}
    <ul class="nav">
        <li class=""><a href="{% url news %}">News</a></li>
        <li class="active"><a href="{% url competitions %}">Competitions</a></li>
    </ul>
{% endblock navigation %}

{% block content %}
    <div class="content">
        <h1>Competitions</h1>

        <ul class="tabs">
            {% if current_tab == 'all' %}
                <li class="active"><a href="{% url competitions %}">All</a></li>
            {% else %}
                <li><a href="{% url competitions %}">All</a></li>
            {% endif %}
            {% for a in activities %}
                {% if current_tab == a.title %}
                    <li class="active"><a href="?tab={{ a.title }}">{{ a.title }}</a></li>
                {% else %}
                    <li><a href="?tab={{ a.title }}">{{ a.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        <table class="zebra-striped">
            <thead><th>&nbsp;</th><th>Title</th><th>Activity</th></thead>
            <tbody>
                {% for c in competitions %}
                    {% if current_tab == 'all' or current_tab == c.activity.title %}
                        <tr>
                        <td>{{ c.status_text }}</td>
                        <td><a href="{% url competition c.id %}">{{ c.title }}</a></td>
                        <td><a href="#" rel="popover" data-placement="below" data-html="true" data-content="{{ c.activity.desc|markdown }}" data-original-title="{{ c.activity.title }}">{{ c.activity.title }}</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}