{% extends "base.html" %}
{% load markup %}

{% block title %}
studLAN - News
{% endblock title %}

{% block navigation %}
    <ul class="nav">
        <li class="active"><a href="{% url root %}">News</a></li>
        {% if request.user.is_authenticated %}
            <li><a href="{% url myprofile %}">Profile</a></li>
        {% endif %}
        <li><a href="{% url competitions %}">Competitions</a></li>
        <li><a href="{% url teams %}">Teams</a></li>
    </ul>
{% endblock navigation %}

{% block content %}
    <div class="content">
        <h1>News</h1>
        {% for article in news.object_list %}
            <h2>{{ article.title }}</h2>
            <span class="label info">{{ article.pub_date }}</span>
            <p>{{ article.body|striptags|markdown }}</h2>
        {% endfor %}
    </div>
    <div class="pagination">
        <ul>
        <span class="step-links">
            {% if news.has_previous %}
                <li class="prev">
                    <a href="?page={{ news.previous_page_number }}">&larr; Previous</a>
            {% else %}
                <li class="prev disabled">
                    <a href="#">&larr; Previous</a>
            {% endif %}
                </li>

            {% for page in news.paginator.page_range %}
                {% if news.number == page %}
                    <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
                {% else %}
                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}

            {% if news.has_next %}
                <li class="next">
                    <a href="?page={{ news.next_page_number }}">Next &rarr;</a>
            {% else %}
                <li class="next disabled">
                    <a href="#">Next &rarr;</a>
            {% endif %}
                </li>
        </span>
        </ul>
    </div>
{% endblock content %}
