{% extends "base.html" %}
{% load markup %}
{% load misc %}

{% block title %}
studLAN - Team
{% endblock title %}

{% block navigation %}
    <ul class="nav">
        <li><a href="{% url root %}">News</a></li>
        {% if request.user.is_authenticated %}
            <li><a href="{% url myprofile %}">Profile</a></li>
        {% endif %}
        <li><a href="{% url competitions %}">Competitions</a></li>
        <li class="active"><a href="{% url teams %}">Teams</a></li>
    </ul>
{% endblock navigation %}

{% block content %}

	<h2>[{{ team.tag }}] {{ team.title }}</h2>
	
	<h3>Leader</h3>
	<ul>
		<li>{{ team.leader }}</li>
	</ul>

	<h3>Members</h3>
	{% if request.user == team.leader %}
		<ul>
		{% for member in team.members.all %}
	            {% csrf_token %}
	            <li>{{ member }} <a href="{% url root %}/team/{{ team.tag }}/remove/{{ member.id }}">Remove</a></li>
        {% endfor %}
    	</ul>
	{% else %}
		<ul>
		{% for member in team.members.all %}
			<li>{{ member }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	
	<!-- TODO url'ify -->
	{% if team.is_mine %}
		<hr />
		<form action="{% url root %}/team/{{ team.tag }}/add_member.html" method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Members</legend>
                <div class="clearfix">
                	<label for="select">Select</label>
                	<div class="input">
	                	<select id="selectMember" name="selectMember">
	                		{% for user in users %}
	                			<option value="{{ user.id }}">{{ user }}</option>
	                		{% endfor %}
	                	</select>
                	</div>
                </div>
                <div class="actions">
                    <input type="submit" class="btn primary" value="Add member" />
                </div>
            </fieldset>
        </form>
	{% endif %}

{% endblock content %}
