.cache
.tox
.tx
__pycache__
*.pyc
node_modules/
venv/
.venv/
/tmp/
.git/
/.github/
/log/

# pip
/requirements/*.in
/requirements/*.old.txt

# Django
/studlan/settings/local.py
/static/
/studlan.db

# Deploy
/keys/*.key

# Editor
.vscode/
