{% extends "base.html" %} 
{% load i18n %}
{% load markdown_deux_tags %} 

{% block title %} 
{% trans "Sponsors" %}
{% endblock title %} 

{% block content %}

<div class="row">
    <div class="col-md-9">
        <h1 class="page-header">{% trans "Sponsors" %}</h1>
        {% if active_sponsors %}
        {% for sponsor in active_sponsors %}
        {% include "sponsor/sponsor_panel.html" %}
        {% endfor %}
        {% else %}
        <div class="alert alert-info">{% trans "No current sponsors." %}</div>
        {% endif %}
    </div>
</div>

{% if inactive_sponsors %}
<div class="row">
    <div class="col-md-9">
        <h2>{% trans "Previous Sponsors" %}</h2>
        {% for sponsor in inactive_sponsors %}
        {% include "sponsor/sponsor_panel.html" %}
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock content%}
