{% extends "base.html" %} 
{% load i18n %}
{% load markdown_deux_tags %} 

{% block title %} 
    {% trans "Sponsors" %}
{% endblock title %} 

{% block content %}
    {% if active_sponsors %}
    <div class="row">
        <div class="col-md-9">
            <h2>{% trans "Active sponsors" %}</h2>
        </div>
    </div>

    {% for sponsor in active_sponsors %}
        <div class="row">
            <div class="col-md-9">
                <div class="well">
                    <!-- Add default banner -->
                    <a href="{{ sponsor.website }}" target="_blank"><img src="{{ sponsor.banner }}" style="width:300px;height:150px"></a>
                    <br><br>
                    <p>{{ sponsor.get_translation.description }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}

{% if inactive_sponsors %}
<div class="row">
    <div class="col-md-9">
        <h3>{% trans "Previous sponsors" %}</h3>
    </div>
</div>

{% for sponsor in inactive_sponsors %}
    <div class="row">
        <div class="col-md-9">
            <div class="well">
                <!-- Add default banner -->
                <a href="{{ sponsor.website }}" target="_blank"><img src="{{ sponsor.banner }}" style="width:300px;height:150px"></a>
                <br><br>
                <p>{{ sponsor.get_translation.description }}</p>
            </div>
        </div>
    </div>
{% endfor %}
{% endif %}
{% endblock content%}