{% load i18n %}

<div class="panel panel-default">
    <div class="panel-body sponsor-panel">
        <h3 class="sponsor-banner"><a title="{{ sponsor.title }}" href="{{ sponsor.website }}" target="_blank" rel="noopener noreferrer">
        {% if sponsor.banner %}
        <img class="sponsor-banner-image" alt="{{ sponsor.title }}" src="{{ sponsor.banner }}">
        {% else %}
        <span class="sponsor-banner-text">{{ sponsor.title }}</span>
        {% endif %}
        </a></h3>
        {% if sponsor.get_translation.description %}
        <p>{{ sponsor.get_translation.description }}</p>
        {% endif %}
        {% if sponsor_relation.get_translation.description %}
        <p>{{ sponsor_relation.get_translation.description }}</p>
        {% endif %}
    </div>
</div>
