{% extends "email/base.html" %}

{% load i18n %}
{% load settings %}

{% block content %}
<p>
    {% trans "This is a confirmation on your purchase of a ticket of type" %} {{ ticket.ticket_type.get_translation.title }} {% trans "ticket for" %} {{ lan.title }}.
    {% trans "The ticket is linked to" %} {{ ticket.user.get_full_name }} ({{ ticket.user.username }}).
    {% trans "More information about the lan can be found at" %} <a href="{{ lan_link }}">{{ lan.title }}</a>.
</p>
{% endblock content %}
