{% extends "base.html" %}

{% load i18n %}
{% load markdown_deux_tags %}
{% load misc %}

{% block title %}
{% trans "Statistics" %}
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <h1 class="page-header">{% trans "Statistics" %}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <div>
            <p>{% trans "Participants are attendees with a ticket or paid status." %}</p>
            <p><strong>{% trans "Participants" %}:</strong> {{ participant_count }}</p>
            <p><strong>{% trans "Arrived participants" %}:</strong> {{ arrival_count }} ({% divide_percent arrival_count participant_count %})</p>
        </div>

        <div>
            <h2 id="age">{% trans "Ages" %}</h2>
            <table class="table table-bordered table-striped" aria-describedby="age">
                <thead>
                    <tr>
                        <th class="col-md-8" scope="col">{% trans "Age" %}</th>
                        <th class="col-md-4" scope="col">{% trans "Count" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for age, count in age_counts.items %}
                    <tr>
                        <th scope="row">{% blocktrans %}{{ age }} years{% endblocktrans %}</th>
                        <td>{{ count }} ({% divide_percent count participant_count %})</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>{% trans "Age is counted wrt. the start of the event." %}</p>
        </div>

        <div>
            <h2 id="tickets">{% trans "Tickets" %}</h2>
            <table class="table table-bordered table-striped" aria-describedby="tickets">
                <thead>
                    <tr>
                        <th class="col-md-8" scope="col">{% trans "Ticket type" %}</th>
                        <th class="col-md-4" scope="col">{% trans "Count" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket_type, count in ticket_counts %}
                    <tr>
                        <th scope="row">{{ ticket_type }}</th>
                        <td>{{ count }} ({% divide_percent count participant_count %})</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th scope="row"><em>{% trans "Paid status" %}</em></th>
                        <td>{{ paid_count }} ({% divide_percent paid_count participant_count %})</td>
                    </tr>
                    <tr>
                        <th scope="row"><em>{% trans "Total" %}</em></th>
                        <td>{{ ticket_paid_total_count }}/{{ participant_count }}</td>
                    </tr>
                </tbody>
            </table>
            <p>{% trans "Includes duplicate tickets and paid status, as can be seen in &quot;total&quot;." %}</p>
        </div>

        <div>
            <h2 id="competitions">{% trans "Competitions" %}</h2>
            <table class="table table-bordered table-striped" aria-describedby="competitions">
                <thead>
                    <tr>
                        <th class="col-md-8" scope="col">{% trans "Competition" %}</th>
                        <th class="col-md-4" scope="col">{% trans "Participant count" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for competition, count in competition_counts %}
                    <tr>
                        <th scope="row">{{ competition }}</th>
                        <td>{{ count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>{% trans "Teams are counted as their member count." %}</p>
        </div>
    </div>
</div>
{% endblock content %}
