{% extends "base.html" %}

{% load i18n %}
{% load markdown_deux_tags %}
{% load static %}

{% block title %}
{{ lan }}
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <h1 class="page-header">{{ lan }}</h1>
    </div>
</div>

{% if not active %}
<div class="row">
    <div class="col-md-9">
        <div class="alert alert-info">
            <p>{% trans "This lan is over." %}</p>
        </div>
    </div>
</div>
{% endif %}

{% if lan.video_link %}
<div class="row">
    <div class="col-md-9">
        <div class="embed-responsive embed-responsive-16by9 lan-video">
            <iframe class="embed-responsive-item" title="Video" src="{{ lan.video_link|safe }}" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-md-4">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td><strong>{% trans "Start time" %}</strong></td>
                    <td>{{ lan.start_date|date:"d. F Y" }}, {{ lan.start_date|time:"H:i" }}</td>
                </tr>
                <tr>
                    <td><strong>{% trans "End time" %}</strong></td>
                    <td>{{ lan.end_date|date:"d. F Y" }}, {{ lan.end_date|time:"H:i" }}</td>
                </tr>
                <tr>
                    <td><strong>{% trans "Location" %}</strong></td>
                    <td>{{ lan.location|safe }}</td>
                </tr>
            </tbody>
        </table>

        {% for direction in directions %}
        <div class="well well-sm">
            <span class="glyphicon glyphicon-road"></span>
            <strong>{{ direction.title }}</strong>
            <br />
            {{ direction.description }}
        </div>
        {% endfor %}
    </div>

    {% if lan.map_link %}
    <div class="col-md-5">
        <iframe class="lan-map" title="Map" src="{{ lan.map_link|safe }}"></iframe>
    </div>
    {% endif %}
</div>

<div class="row">
    <div class="col-md-9 lan-desctiption">
        <hr />
        {{ lan.get_translation.description|markdown }}
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        {% if user.is_authenticated %}
        {% if status == 'paid' and ticket %}
        <div class="center-on-collapse">
            <a class="btn btn-success disabled center-on-collapse long-text-button" href="#">
                {% blocktrans with ticket_title=ticket.0.ticket_type.get_translation.title trimmed %}
                You have a ticket: {{ ticket_title }}
                {% endblocktrans %}
            </a>
        </div>
        {% elif status == 'paid' %}
        {# If the user has no real ticket, but the attendance is marked as "payed" #}
        <div class="center-on-collapse">
            <a class="btn btn-success disabled center-on-collapse long-text-button" href="#">
                {% trans "You have a ticket." %}
            </a>
        </div>
        {% elif status == 'attending' %}
        <div class="center-on-collapse">
            <a class="btn btn-danger" href="{% url 'lan_unattend' lan.id %}">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                {% trans "Remove attendance" %}
            </a>
        </div>
        {% if ticket_types %}
        <h3>{% trans "Tickets" %}</h3>
        <div role="tabpanel">
            <ul id="tabs" class="nav nav-tabs" role="tablist">
                {% for ticket_type in ticket_types %}
                <li {% if forloop.counter == 1 %} class="active" {% endif %} role="presentation">
                    <a href="#ticket-{{ forloop.counter }}" aria-controls="#ticket-{{ forloop.counter }}" data-toggle="tab" role="tab">
                        {{ ticket_type.get_translation.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for ticket_type in ticket_types %}
                {% if forloop.counter == 1 %}
                <div role="tabpanel" class="tab-pane active well" id="ticket-{{ forloop.counter }}">
                {% else %}
                <div role="tabpanel" class="tab-pane well" id="ticket-{{ forloop.counter }}">
                {% endif %}
                    <p>{{ ticket_type.get_translation.description }}</p>
                    <p><strong>{% trans "Price" %}:</strong> {{ ticket_type.price }}</p>
                    <!-- <p><strong>{% trans "Seats" %}:</strong>{{ ticket_type.number_of_seats }}</p> -->
                    <p><strong>{% trans "Free seats" %}:</strong>
                        {% if ticket_type.number_of_free_seats <= 0 %}
                        <span class="label label-danger">{% trans "Sold out" %}</span>
                        {% else %}
                        {{ ticket_type.number_of_free_seats }}
                        {% endif %}
                    </p>
                    {% if not ticket_type.number_of_free_seats <= 0 and ticket_type.is_available %}
                        <a class="btn btn-success" href="{% url 'payment' ticket_type.id %}">
                            {% trans "Buy" %}
                        </a>
                    {% elif not ticket_type.is_available %}
                    <button type="button" class="btn btn-default disabled">
                        {% blocktrans with release_date=ticket_type.available_from|date release_time=ticket_type.available_from|time trimmed %}
                        Tickets will be released {{ release_date }} at {{ release_time }}.
                        {% endblocktrans %}
                    </button>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="alert alert-danger">
            <p>{% trans "No tickets avalible at this time." %}</p>
        </div>
        {% endif %}
        {% elif status == 'open' %}
        {% if user.profile.has_address %}
        <div class="center-on-collapse">
            <a class="btn btn-primary" href="{% url 'lan_attend' lan.id %}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                {% trans "Sign up" %}
            </a>
        </div>
        {% else %}
        <div class="alert alert-danger">
            {% url 'update_profile' as update_profile_url %}
            {% blocktrans trimmed %}
            Your address and postal code is required in order to sign up for a LAN.
            Go to your <a href="{{ update_profile_url }}">profile</a> to add the information.
            {% endblocktrans %}
        </div>
        {% endif %}{# user.profile.has_address #}
        {% endif %} {# status == ... #}
        {% else %}{# user.is_authenticated #}
        <div class="alert alert-danger">
            {% trans "You need to login to sign up for the LAN." %}
        </div>
        {% endif %}{# user.is_authenticated #}
    </div>
</div>

{% endblock content %}
