{% extends "base.html" %}

{% load i18n %}

{% block title %}
{% trans "LAN List" %}
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <h1 class="page-header">{% trans "LANs" %}</h1>
    </div>
</div>

{% if upcoming %}
<div class="row">
    <div class="col-md-9">
        <table class="table table-bordered table-hover click-table">
            <tbody>
                {% for lan in upcoming %}
                <tr onclick="document.location='{{ lan.get_absolute_url }}';">
                    <td class="underline">{{ lan }}</td>
                    <td>{{ lan.start_date|date }} – {{ lan.end_date|date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-md-9">
        <div class="alert alert-info">{% trans "No upcoming LANs." %}</div>
    </div>
</div>
{% endif %}

{% if previous %}
<div class="row">
    <div class="col-md-9">
        <h3>{% trans "Previous LANs" %}</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <table class="table table-bordered table-hover click-table">
            <tbody>
                {% for lan in previous %}
                <tr onclick="document.location='{{ lan.get_absolute_url }}';">
                    <td class="underline">{{ lan }}</td>
                    <td>{{ lan.start_date|date }} – {{ lan.end_date|date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock content %}
