{% load markdown_deux_tags %}

{% if stream %}
<div class="row">
    <div class="col-md-9">
        <div class="stream">
            {% if stream.visible_title %}
            <h3 class="stream-title">{{ stream.visible_title }}</h3>
            {% endif %}
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" title="Stream" src="{{ stream.link | safe }}" allowfullscreen></iframe>
            </div>
            {% if stream.description %}
            <div class="stream-desc">
                {{ stream.description | markdown }}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
