{% extends "base.html" %}

{% block title %}
studLAN - {{ lan }}
{% endblock title %}

{% block content %}
    <div class="content">

        <h2>{{ lan }}</h2>

        <div>
            <p>Start date: {{ lan.start_date|date:"d. F Y" }} - {{ lan.start_date|time:"H:i" }}</p> 
            <p>End date: {{ lan.end_date|date:"d. F Y" }} - {{ lan.end_date|time:"H:i" }}</p> 
            <p>Location: {{ lan.location }}</p> 
        </div>

        <hr />

        <p>
        {% if status == 'attending' %}
            <a class="btn danger" href="{% url lan_unattend lan.id %}">Remove attendance</a>
        {% else %}
            <a class="btn success" href="{% url lan_attend lan.id %}">Sign up</a>
        {% endif %}
        </p>
    
        <hr />

        {{ lan.description }} 

    </div>
{% endblock content %}
