{% extends "competition/competition_base.html" %}

{% load i18n %}
{% load markdown_deux_tags %}
{% load competition_tags %}

{% block title %}
{% trans "Competitions" %}
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h1 class="page-header">{% trans "Competitions" %}</h1>
        </div>
    </div>
    {% if competitions %}
    <div class="row">
        <div class="col-md-9">
            <table class="table table-bordered table-striped table-hover click-table">
                <thead>
                    <th scope="col" class="col-md-1">{% trans "Status" %}</th>
                    <th scope="col" class="col-md-5">{% trans "Title" %}</th>
                    <th scope="col" class="col-md-2">{% trans "Start Time" %}</th>
                    <th scope="col" class="col-md-1">{% trans "Type" %}</th>
                </thead>
                <tbody>
                    {% for competition in competitions %}
                    <tr onclick="document.location='{% url "competition_details" competition.id %}';">
                        <td><span class="label label-{{ competition.status_label }}">{{ competition.status_text }}</span></td>
                        <td class="underline">{{ competition }}</td>
                        <td>{{ competition.start_time | default:"" }}</td>
                        <td>
                            {% if competition.use_teams %}
                            <span class="label label-success">{% trans "Team" %}</span>
                            {% else %}
                            <span class="label label-info">{% trans "Solo" %}</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-9">
            <div class="alert alert-info">{% trans "No competitions for this LAN." %}</div>
        </div>
    </div>
    {% endif %}


<div class="row">
    <div class="col-md-9">
        <h2 id="polls">{% trans "Polls" %}</h2>
        {% if polls %}
        <table class="table table-bordered table-striped table-hover click-table" aria-describedby="polls">
            <thead>
                <th scope="col" class="col-md-1">Status</th>
                <th scope="col" class="col-md-11">Title</th>
            </thead>
            <tbody>
                {% for poll in polls %}
                <tr onclick="document.location='{{ poll.get_absolute_url }}';">
                    {% if poll.is_open %}
                        <td><label class="label label-success">{% trans "Open" context "status" %}</label></td>
                    {% else %}
                        <td><label class="label label-danger">{% trans "Closed" context "status" %}</label></td>
                    {% endif %}
                    <td class="underline">{{ poll }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p><em>{% trans "No polls for this LAN." %}</em></p>
        {% endif %}
    </div>
</div>


<div class="row">
    <div class="col-md-9">
        <h2 id="lotteries">{% trans "Lotteries" %}</h2>
        {% if lotteries %}
        <table class="table table-bordered table-striped table-hover click-table" aria-describedby="lotteries">
            <thead>
                <th scope="col" class="col-md-1">Status</th>
                <th scope="col" class="col-md-11">Title</th>
            </thead>
            <tbody>
                {% for lottery in lotteries %}
                <tr onclick="document.location='{{ lottery.get_absolute_url }}';">
                    {% if lottery.registration_open %}
                        <td><label class="label label-success">{% trans "Open" context "status" %}</label></td>
                    {% else %}
                        <td><label class="label label-danger">{% trans "Closed" context "status" %}</label></td>
                    {% endif %}
                    <td class="underline">{{ lottery }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p><em>{% trans "No raffles for this LAN." %}</em></p>
        {% endif %}
    </div>
</div>
{% endblock content %}
