{% extends "competition/competition_base.html" %}
{% load i18n %}
{% load markdown_deux_tags %}

{% block title %}
Competition - {{ competition.get_translation.title }}
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-9"><h2>{{ competition }}</h2></div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <span class="label label-{{ competition.status_label }}">{{ competition.status_text_verbose }}</span>
            <a href="#" class="label label-info" rel="popover" data-placement="below" data-html="true" data-content="{{ competition.activity.desc|markdown }}" data-original-title="{{ competition.activity.title }}">{{ competition.activity.title }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="activity_image" style="background: url('{{ competition.activity.image_url }}');"></div>
        </div>
    </div>
    
        <br />

    {% comment %}
        Show participating teams
    {% endcomment %}
    {% if teams %}
        <div class="row">
            <div class="col-md-9">
                <h3>{% trans "Participating teams:" %} {{ teams|length }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <table class="table table-bordered table-striped table-condensed">
                    <thead><th>Team</th><th>Leader</th></thead>
                    <tbody>
                        {% for team in teams %}
                            <tr>
                                <td><a href="{{ team.get_absolute_url }}">{{ team }}</a></td>
                                <td><a href="{% url 'profile' team.leader %}">{{ team.leader }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {% if users %}
        <div class="row">
            <div class="col-md-9">
                <h3>{% trans "Participants" %}{% if teams %} {% trans "without a team" %}{% endif %}: {{ users|length }}</h3>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-9">
                <ul>
                    {% for user in users %}
                        <li><a href="{% url 'profile' user %}">{{ user }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
    {% endif %}

    {% comment %}
         Participation form
    {% endcomment %}

    {% if user.is_authenticated %}
        {% if competition.status == 1 %}
            <div class="row">
                <div class="col-md-9">
                    {% if not participating %}
                        {% if competition.use_teams and owned_teams|length > 0 %}
                            <form class="well form-inline" action="{% url 'join_comp' competition.id %}" method="POST">
                                {% csrf_token %}
                                <select class="input-small" name="team" id="team">
                                    {% for team in owned_teams %}
                                        <option value="{{ team.id }}">{{ team }}</option>
                                    {% endfor %}
                                </select>
                                <input class="btn btn-success" type="submit" value="{% trans "Join competition (team)" %}"/>
                            </form>
                        {% endif %} 
                        <form class="well form-inline" action="{% url 'join_comp' competition.id %}" method="POST">{% csrf_token %}
                            <p>
                                {% trans "Signing up for a team compo as a solo player does not mean you are a participant." %} 
                                {% trans "Try to find other players that sign up solo, make a team and sign up as a team." %}
                            </p>
                            <p><b>{% trans "When you sign up as a team, your solo participation will be overriden." %}</b></p>
                            <input type="submit" class="btn btn-success" value="{% trans "Join competition (solo)" %}"/>
                        </form>
                    {% else %}
                        <form class="well form-inline" action="{% url 'leave_comp' competition.id %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-danger" value="{% trans "Leave competition" %}"/>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% if competition.status == 3 %}
            <!-- not implemented...
            <a class="btn large danger" href="/competition/{{ competition.id }}/forfeit.html">Forfeit competition</a>
            -->
        {% endif %}
    {% endif %}

    <div class="row"><div class="col-md-9"><h3>{% trans "Description" %}</h3></div></div>
    <div class="row"><div class="col-md-9"><p>{{ competition.get_translation.translated_description|markdown }}</p></div></div>
        
{% endblock content %}
