<div class="row table-tabs">
    <div class="col-md-9">
        <ul class="nav nav-tabs">
            <li{% if active == 'all' %} class="active" {% endif %}><a href="{% url 'competitions' %}">All</a></li>
            {% for activity in activities %} 
            	{% if active == activity.id %}
                <li class="active"><a href="{{ activity.get_absolute_url }}">{{ activity }}</a>
                </li>
                {% else %}
                <li><a href="{{ activity.get_absolute_url }}">{{ activity.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
