{% extends "competition/competition_base.html" %}
{% load i18n %}
{% load markdown_deux_tags %}
{% block content %}
    <div class="col-md-9">
        {% if lan %}
            {% if cal_src %}
<iframe title="Schedule" style="border: none; overflow: hidden;" width="1000" height="700"
        src="https://calendar.google.com/calendar/embed?
        showTitle=0&amp;
        showNav=0&amp;
        showDate=0&amp;
        showPrint=0&amp;
        showTabs=0&amp;
        showCalendars=0&amp;
        showTz=0&amp;
        mode=WEEK&amp;
        height=600&amp;
        wkst=2&amp;
        bgcolor=%23FFFFFF&amp;
        dates={{ start_date }}/{{ end_date }}&amp;
        src={{ cal_src }}&amp;
        color=%23125A12&amp;
        ctz=Europe%2FOslo"></iframe>
            {% else %}
                <div class="col-md-9">
                    <div class="alert alert-info">There is no configured schedule</div>
                </div>
            {% endif %}
        {% else %}
            <div class="col-md-9">
                <div class="alert alert-info">No upcoming lan</div>
            </div>
        {% endif %}
    </div>
{% endblock content %}
