{% load i18n %}

{% get_current_language as auto_language_code %}

<!DOCTYPE html>
<html lang="{{ language_code|default:auto_language_code }}">
<head>
    <meta charset="utf-8" />
    <title>{{ site_name }}</title>
</head>
<body>
    <div class="container" style="max-width: 800px; margin: 0 auto;">
        <header>
            <h1>{{ site_name }}</h1>
        </header>
        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>
        <footer>
            <hr />
            {% blocktrans trimmed %}
            <p>Sent from <a href="https://{{ site_host }}/">{{ site_name }}</a>.</p>
            {% endblocktrans %}
        </footer>
    </div>
</body>
</html>
