{% extends "base.html" %}

{% load i18n %}
{% load markdown_deux_tags %}

{% block title %}
{% trans "Home" %}
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <h1 class="page-header">{% trans "News" %}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        {% for article in articles.object_list %}
        {% if not forloop.first %}
        <hr />
        {% endif %}
        {% include "news/article_card.html" %}
        {% empty %}
        <div class="alert alert-info">{% trans "No news." %}</div>
        {% endfor %}
    </div>
</div>

<div class="row news-pagination-container">
    <div class="col-md-6">
        {% include "news/pagination.html" with news_area='news' %}
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary pull-right" href="{% url 'archive_main' %}">
            <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
            {% trans "News archive" %}
        </a>
    </div>
</div>
{% endblock content %}
