<ul class="pagination">
    {% if articles.has_previous %}
    <li class="active">
        <a href="{% url news_area articles.previous_page_number %}">&laquo;</a>
    {% else %}
    <li class="disabled">
        <a href="#">&laquo;</a>
    {% endif %}
    </li>

    {% for page in articles.paginator.page_range %}
        {% if articles.number == page %}
            <li class="active"><a href="{% url news_area page %}">{{ page }}</a></li>
        {% else %}
            <li><a href="{% url news_area page %}">{{ page }}</a></li>
        {% endif %}
    {% endfor %}

    {% if articles.has_next %}
        <li class="active">
            <a href="{% url news_area articles.next_page_number %}">&raquo;</a>
    {% else %}
        <li class="disabled">
            <a href="#">&raquo;</a>
    {% endif %}
    </li>
</ul>
