{% extends "email/base.html" %}

{% load i18n %}

{% block content %}
{% blocktrans with request.get_host as host %}
<p>You have registered an account at <a href="{{ host }}">{{ site_name }}</a>.</p>
<p>
    In order to validate your account, please click the link below:
    <br />
    <a href="{{ link }}">{{ link }}</a>
</p>
<p>If you do not use this link within 24 hours, it will be invalidated. If that happens, you will need to use the password recovery option to get your account verified.</p>
{% endblocktrans %}
{% endblock content %}
