{% load i18n %}

{% if upcoming_lans %}
<div class="row">
    <div class="col-md-9">
        <table class="table table-bordered table-hover click-table">
            <caption hidden>{% trans "Upcoming LANs" %}</caption>
            <thead>
                <th scope="col" class="col-md-4">{% trans "LAN" %}</th>
                <th scope="col" class="col-md-3">{% trans "Time" %}</th>
            </thead>
            <tbody>
                {% for lan in upcoming_lans %}
                <tr onclick="document.location='{% url object_view_name lan.id %}';">
                    <td class="underline">{{ lan }}</td>
                    <td>{{ lan.start_date|date }} – {{ lan.end_date|date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-md-9">
        <div class="alert alert-info">{% trans "No upcoming LANs." %}</div>
    </div>
</div>
{% endif %}

{% if previous_lans %}
<div class="row">
    <div class="col-md-9">
        <h3>{% trans "Previous LANs" %}</h2>
        <table class="table table-bordered table-striped table-hover click-table">
            <caption hidden>{% trans "Previous LANs" %}</caption>
            <thead>
                <th scope="col" class="col-md-4">{% trans "LAN" %}</th>
                <th scope="col" class="col-md-3">{% trans "Time" %}</th>
            </thead>
            <tbody>
                {% for lan in previous_lans %}
                <tr onclick="document.location='{% url object_view_name lan.id %}';">
                    <td class="underline">{{ lan }}</td>
                    <td>{{ lan.start_date|date }} – {{ lan.end_date|date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
