{% load i18n %}
{% load settings %}
{% load static %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>
            {% site_name %} –
            {% block title %}
            {% endblock title %}
        </title>

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
        <link rel="shortcut icon" href="{% static 'logo/logo_64.png' %}" />
        <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
        <script src="{% static 'js/jquery.fitvids.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
    </head>

    <body>
        {# Navbar #}
        <div class="navbar navbar-fixed-top navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed collapsed-button" data-toggle="collapse" data-target="#userlist">
                        <span class="glyphicon glyphicon-user"></span>
                    </button>
                    <button type="button" class="navbar-toggle collapsed collapsed-button" data-toggle="collapse" data-target="#navigationlist">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img class="navbar-brand" alt="brand" src="{% static 'logo/logo_64.png' %}"/>
                    <a class="navbar-brand" href="{% url 'root' %}">{% site_name %}</a>
                </div>

                {% include "userdropdown.html" %}

                <div class="navbar-collapse collapse" id="navigationlist">
                    {% include "navigation.html" %}
                    <!-- Language selection -->
                    <ul class="nav navbar-nav navbar-right language-dropdown">
                        <li role="presentation" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                {% trans "Language" %} <strong class="caret"></strong>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                            {% for lang in LANGUAGES %}
                                <li>
                                    <form class="language-list" name="setLang{{lang.1}}" action="/misc/change_language" method="POST">{% csrf_token %}
                                        <input type="hidden" name="language" value="{{ lang.0 }}"/>
                                    </form>
                                    <a href="#" onclick="document.setLang{{ lang.1 }}.submit();return false;">{{ lang.1 }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        {# Sidebar #}
        {% if not hide_sidebar %}
            <div class="sidebar-wrapper">
                {% include "sidebar.html" %}
            </div>
        {% endif %}

        {# Content and stuff #}
        <div class="container content-container">
            {% if breadcrumbs %}
                <div class="row breadcrumbs">
                    <div class="col-md-9">
                        <ul class="breadcrumb">
                            {% for text, link in breadcrumbs %}
                                {% if not forloop.last %}
                                    <li>
                                        <a href="{{ link }}">{{ text }}</a>
                                        <span class="divider"></span>
                                    </li>
                                {% else %}
                                    <li>{{ text }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            {% if messages %}
                <div class="row">
                    <div class="col-md-9">
                            {% for message in messages %}
                        <div class="flash fade in alert alert-dismissible alert-{{ message.tags }}">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <p>{{ message }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% block content %}
                <!-- Content goes here -->
            {% endblock content %}
            <div class="row">
                <div class="col-md-9">
                    <footer>
                        <p>
                            <a href="https://github.com/CasualGaming/studlan">studlan v{% version %}</a>
                            &copy; <a href="https://casualgaming.dev">Casual Gaming</a>
                            — <a href="mailto:{% support_mail %}?Subject=&#91;{% site_name %} support&#93;" target="_top">{% trans "Support" %}</a>
                        </p>
                    </footer>
                </div>
            </div>
        </div>

        {# Extra scripts #}
        {% block script %}
        {% endblock script %}
    </body>
</html>
