{% load i18n %}

<div class="row">
    <div class="col-md-9">
        <footer>
            <p>
                <a href="https://github.com/CasualGaming/studlan">{{ full_app_name }}</a>
                &copy; <a href="https://casualgaming.dev" rel="noopener noreferrer">Casual Gaming</a>
                — <a href="mailto:{{ support_mail }}?Subject=&#91;{{ site_name }} support&#93;" target="_top" rel="noopener noreferrer">{% trans "Support" %}</a>
            </p>
        </footer>
    </div>
</div>
