{% load i18n %}
{% block navigation %}
    <ul id="navbar" class="nav navbar-nav">
      <li class="navbar-item"><a href="{% url 'lan_home' %}">{% trans "LAN" %}</a></li>
      <li class="navbar-item"><a href="{% url 'lan_tickets_home' %}">{% trans "Tickets" %}</a></li>
        <li class="navbar-item"><a href="{% url 'seatings' %}">{% trans "Seating" %}</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{% trans "Esports" %}<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'competitions' %}">{% trans "Competitions" %}</a></li>
            <li><a href="{% url 'teams' %}">{% trans "Teams" %}</a></li>
            <li><a href="{% url 'schedule' %}">{% trans "Schedule" %}</a></li>
          </ul>
        </li>
        <li class="navbar-item"><a href="{% url 'sponsors' %}">{% trans "Partners" %}</a></li>
    </ul>
{% endblock navigation %}
