{% load i18n %}
{% load competition_tags %}
{% load sponsor_tags %}
<div class="well sidebar">
    <ul class="nav nav-stacked">
        <li class="sidebar-header">
            <a href="{% url 'competitions' %}">{% trans "Competition Info" %}</a>
        </li>
        <li>{% num_of_competitions %} {% trans "competitions active." %}</li>
        {% user_competitions %}
        <li class="sidebar-header"><a href="{% url 'sponsors' %}">{% trans "Sponsors" %}</a></li>
        {% show_sponsor_list %}
    </ul>
</div>
