{% load i18n %}
{% load postman_tags %}
{% postman_unread as unread_count %}

{% if not user.is_authenticated %}
    <li><a href="{% url 'auth_register' %}">{% trans "Register" %}</a></li>
    <li><a href="{% url 'auth_login' %}">{% trans "Login" %}</a></li>
{% else %}
    <li class="dropdown hidden-xs">
        <a href="#" class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="" aria-hidden="true">{{ request.user.username }}</span> {% if unread_count %}
                        <span class="badge">{{unread_count}}</span>
                    {% endif %}
        </a>
          <ul class="dropdown-menu" role="menu">
            <li>
                <a href="{% url 'my_profile' %}">
                <i class="glyphicon glyphicon-pencil">
                </i> {% trans "Profile" %}</a>
            </li>
            <li>
                <a href="{% url 'inbox' %}">
	                <i class="glyphicon glyphicon-envelope"></i>
	                {% trans "Inbox" %}
	                {% if unread_count %}
	                	<span class="badge">{{unread_count}}</span>
	                {% endif %}
                </a>
            </li>
            <li class="divider"></li>
            {% if perms.lan.register_arrivals %}
            <li><a href="{% url 'arrival_home' %}"><i class="glyphicon glyphicon-list-alt"></i> Register arrivals</a></li>
            {% endif %}
            {% if perms.lan.register_new_user %}
            <li><a href="{% url 'auth_direct_register' %}"><i class="glyphicon glyphicon-list"></i> Manual registration</a></li>
            {% endif %}
            {% if perms.lottery.draw %}
            <li><a href="{% url 'drawing' %}"><i class="glyphicon glyphicon-gift"></i> Drawing</a></li></li>
            {% endif %}
            {% if user.is_staff %}
            <li><a href="/admin"><i class="glyphicon glyphicon-cog"></i> Admin</a>
            {% endif %}
            {% if perms.lan.register_arrivals or perms.lan.register_new_user or perms.lottery.draw or user.is_staff %}
            <li class="divider"></li>
            {% endif %}
            <li>
                <a href="{% url 'auth_logout' %}">
                <i class="glyphicon glyphicon-off">
                </i> {% trans "Log out" %}</a>
            </li>
          </ul>
    </li>
            <li class="hidden-md hidden-lg hidden-sm">
                <a href="{% url 'my_profile' %}">
                <i class="glyphicon glyphicon-pencil">
                </i> {% trans "Profile" %}</a>
            </li>
            {% if user.is_staff %}
                <li class="divider hidden-md hidden-lg hidden-sm"></li>
                <li class="hidden-md hidden-lg hidden-sm"><a href="{% url 'arrival_home' %}"><i class="glyphicon glyphicon-list-alt"></i> Register arrivals</a>
                </li>
                <li class="hidden-md hidden-lg hidden-sm"><a href="/admin"><i class="glyphicon glyphicon-cog"></i> Admin</a>
                </li>
                <li class="hidden-md hidden-lg hidden-sm"><a href="{% url 'drawing' %}"><i class="glyphicon glyphicon-gift"></i> Drawing</a></li>
            {% endif%}
            <li class="divider hidden-md hidden-lg hidden-sm"></li>
            <li class="hidden-md hidden-lg hidden-sm">
                <a href="{% url 'auth_logout' %}">
                <i class="glyphicon glyphicon-off">
                </i> {% trans "Log out" %}</a>
            </li>
{% endif %}