{% load i18n %}
{% load postman_tags %}
{% postman_unread as unread_count %}

{% if not user.is_authenticated %}
    <li><a href="{% url 'auth_register' %}">{% trans "Register" %}</a></li>
    <li><a href="{% url 'auth_login' %}">{% trans "Login" %}</a></li>
{% else %}
    <li class="dropdown hidden-xs">
        <a href="#" class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="" aria-hidden="true">{{ request.user.username }}</span> 
        </a>
          <ul class="dropdown-menu" role="menu">
            <li>
                <a href="{% url 'update_profile' %}">
                <i class="glyphicon glyphicon-pencil">
                </i> {% trans "Edit profile" %}</a>
            </li>
            <li>
                <a href="{% url 'postman_write' 'larserik'%}?subject=details request&body=give me details about ...">
	                <i class="glyphicon glyphicon-envelope"></i>
	                {% trans "Inbox" %}
	                {% if unread_count %}
	                	<span class="badge">{{unread_count}}</span>
	                {% endif %}
                </a>
            </li>
            {% if user.is_staff %}
                <li class="divider"></li>
                <li><a href="{% url 'arrival_home' %}"><i class="glyphicon glyphicon-list-alt"></i> Register arrivals</a>
                </li>
                <li><a href="/admin"><i class="glyphicon glyphicon-cog"></i> Admin</a>
                </li>
                <li><a href="{% url 'drawing' %}"><i class="glyphicon glyphicon-gift"></i> Drawing</a></li>
            {% endif%}
            <li class="divider"></li>
            <li>
                <a href="{% url 'auth_logout' %}">
                <i class="glyphicon glyphicon-off">
                </i> {% trans "Log out" %}</a>
            </li>
          </ul>
    </li>
            <li class="hidden-md hidden-lg hidden-sm">
                <a href="{% url 'update_profile' %}">
                <i class="glyphicon glyphicon-pencil">
                </i> {% trans "Edit profile" %}</a>
            </li>
            {% if user.is_staff %}
                <li class="divider hidden-md hidden-lg hidden-sm"></li>
                <li class="hidden-md hidden-lg hidden-sm"><a href="{% url 'arrival_home' %}"><i class="glyphicon glyphicon-list-alt"></i> Register arrivals</a>
                </li>
                <li class="hidden-md hidden-lg hidden-sm"><a href="/admin"><i class="glyphicon glyphicon-cog"></i> Admin</a>
                </li>
                <li class="hidden-md hidden-lg hidden-sm"><a href="{% url 'drawing' %}"><i class="glyphicon glyphicon-gift"></i> Drawing</a></li>
            {% endif%}
            <li class="divider hidden-md hidden-lg hidden-sm"></li>
            <li class="hidden-md hidden-lg hidden-sm">
                <a href="{% url 'auth_logout' %}">
                <i class="glyphicon glyphicon-off">
                </i> {% trans "Log out" %}</a>
            </li>
{% endif %}