{% extends "seating/seating_base.html" %}
{% load competition_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-8"><h1>Seating</h1></div>
    </div>
    
    <div class="row">
        <div class="col-md-8">
            {% for l in lans %} 
                {% if l.status == 'upcoming' %}
                    <h2>{{l}} seating: </h2>
                    {% for seating in seatings %}
                        {% if seating.lan == l %}
                            <h3><a href="{{ request.path }}details/{{ seating.id }}">{{ seating }}</a> - Reservation closes at {{seating.closing_date}}</h3>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}

