{% extends "seating/seating_base.html" %}
{% block title %}
Seating
{% endblock title %}
{% block sidebar%}
ads
{% endblock sidebar %}
{% load i18n %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            {% if not seating.is_open %}
                <div class="alert alert-danger">{% trans "Seating is closed." %}</div>
            {% endif %}
            <p>Legend: </p>
            <input class="btn btn-warning" type="submit" value="Ditt sete" disabled/>
            <input class="btn btn-danger" type="submit" value="Opptatt sete" disabled/>
            <input class="btn btn-success" type="submit" value="Ledig sete" disabled/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            {% if template %}
               {{template|safe}}
            {% else %}
            {% for s in seats %}
                    <div class="col-md-2">
                {% if s.user %}
                    {% if s.user == user %}
                        <form class="form-inline" 
                        {% if seating.is_open %}
                            action="{% url 'leave_seat' seating.id s.id %}" 
                        {% endif %}
                        method="POST">
                        {% csrf_token %}
                        <input class="btn btn-warning" type="submit" value="{{ s.id }}" />
                        </form>
                    {% else %}
                        <form class="form-inline" action="/profile/{{s.user}}/" method="POST">
                            {% csrf_token %}
                            <input class="btn btn-danger" type="submit" value="{{ s.id }}" title="{{s.user}}" />
                        </form>
                {% endif %}
                {% else %}
                    <form class="form-inline" 
                    {% if seating.is_open %}
                        action="{% url 'take_seat' seating.id s.id %}" 
                    {% endif %}
                    method="POST">
                    {% csrf_token %}
                        <input class="btn btn-success" type="submit" value="{{ s.id }}"/>
                    </form>
                {% endif %}
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    
    <style>
    .col-md-2 .btn {
        width: 3.5em; height: 2em;
        }
    }
    </style>
{% endblock content %}