{% extends "base.html" %}

{% load i18n %}

{% block title %}
{% trans "Manual Registeration" %}
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <h1 class="page-header">{% trans "Manual Registration" %}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        {% if lan %}
        <p>{% blocktrans %}Register a new user for {{ lan }}.{% endblocktrans %}</p>
        <br />
        {% for error in form.non_field_errors %}
        <p class="form-error">{{ error }}</p>
        {% endfor %}
        <form id="register-form" class="form-horizontal" method="post">
            {% csrf_token %}
            {% for field in form %} 
            <div class="form-group {% if field.errors %} has-error {% endif %} ">
                <label class="col-md-3 control-label">{{ field.label }}</label>
                <div class="col-md-9">
                    {{ field }}
                    <div class="form-error">
                        {{ field.errors }}
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="form-actions register-button">
                <input type="submit" class="btn btn-primary" value="Register and attend" />
            </div>
        </form>
        {% else %}
        <div class="alert alert-info">
            {% trans "No upcoming LANs." %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
