{% extends "base.html" %} 
{% load i18n %}
{% block title %} 
Register 
{% endblock title %} 
{% block content %}
<div class="row">
    <div class="col-md-9">{{ form.non_field_errors }}
        {% if lan %}
        <form id="register-form" class="form-horizontal" method="post" action="{% url 'auth_direct_register' %}">
            {% csrf_token %}
            <fieldset>
                <legend>{% trans "Register new user" %} for {{ lan }}</legend>
                    {% for field in form %} 
                        <div class="form-group {% if field.errors %} has-error {% endif %} ">
                            <label class="col-md-3 control-label">{{ field.label }}</label>
                            <div class="col-md-9">
                              {{ field}}
                                <div class="form-error">
                                    {{ field.errors }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                <div class="form-actions register-button">
                    <input type="submit" class="btn btn-primary" value="Register and attend" />
                </div>
            </fieldset>
        </form>
        {% else %}
            <div class="alert alert-info">
                No upcoming LAN was found, so this feature is disabled.   
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
