{% extends "base.html" %}

{% load i18n %}

{% block title %} 
{% trans "Log in" %}
{% endblock title %} 

{% block content %}
<div class="row">
    <div class="col-sm-2 col-md-1"></div>
    <div class="col-sm-8 col-md-7">
        <h1 class="page-header">{% trans "Log in" %}</h1>

        {% for error in form.non_field_errors %}
        <p class="form-error">{{ error }}</p>
        {% endfor %}
        <p>{% trans "<strong>NB:</strong> Both the username and password are case sensitive." %}</p>
        <form method="post" action="{% url 'auth_login' %}">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
                <label class="control-label">{{ field.label }}</label>
                {{ field }}
                <div class="form-error">
                    {{ field.errors }}
                </div>
            </div>
            {% endfor %}
            <div class="form-actions">
                <a href="{% url 'auth_register' %}" class="btn btn-info">{% trans "Register new user" %}</a>
                <a href="{% url 'auth_recover' %}" class="btn btn-info">{% trans "Recover user" %}</a>
                <input type="submit" class="btn btn-primary pull-right" value="{% trans "Login" %}" />
            </div>
            <input type="hidden" name="next" value="{% if next %}{{ next }}{% endif %}"/>
        </form>
    </div>
</div>
{% endblock content %}
