{% extends "base.html" %} 
{% load i18n %}
{% block title %} 
Login 
{% endblock title %} 
{% block content %}
<div class="row">
    <div class="col-md-9">{{ form.non_field_errors }}
        <form class="form-horizontal" method="post" action="{% url 'auth_login' %}">
            {% csrf_token %}
            <fieldset>
                <legend>{% trans "Login" %}</legend>
                {% for field in form %}
                    <div class="form-group {% if field.errors %} has-error {% endif %} ">
                            <label class="col-md-2 control-label">{{ field.label }}</label>
                            <div class="col-md-6">
                              {{ field}}
                                <div class="form-error">
                                    {{ field.errors }}
                                </div>
                            </div>
                        </div>
                {% endfor %}
                <div class="form-actions login-buttons">
                    <input type="submit" class="btn btn-primary" value="{% trans "Login" %}" /> 
                    <a href="{% url 'auth_recover' %}" class="btn btn-info">{% trans "Recover username and password" %}</a>
                </div>
            </fieldset>
            <input type="hidden" name="next" value="{% if next %}{{ next }}{% endif %}"/>
        </form>
    </div>
</div>
{% endblock content %}
