{% extends "base.html" %}

{% load i18n %}

{% block title %}
{% trans "Account Recovery" %}
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-sm-2 col-md-1"></div>
    <div class="col-sm-8 col-md-7">
        <h1 class="page-header">{% trans "Account Recovery" %}</h1>

        {% for error in form.non_field_errors %}
        <p class="form-error">{{ error }}</p>
        {% endfor %}
        <form method="post" action="{% url 'auth_recover' %}">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group {% if field.errors %} has-error {% endif %}">
                <label label-default="label-default" class="control-label">
                    {{ field.label }}
                </label>
                {{ field }}
                <div class="form-error">
                    {{ field.errors }}
                </div>
            </div>
            {% endfor %}
            <div class="form-actions">
                <input type="submit" class="btn btn-primary pull-right" value="{% trans "Send recovery email" %}" />
            </div>
        </form>
    </div>
</div>
{% endblock content %}
