{% extends "base.html" %}
{% load i18n %}

{% block title %}
Change password
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            {{ form.non_field_errors }}
            <form method="post" action="{% url 'auth_set_password' token %}">{% csrf_token %}
                <fieldset>
                <legend>{% trans "Change password" %}</legend>
                {% for field in form %}
                    {% if field.label != 'Old password' and token %}
                        <div class="clearfix">
                            {{ field.label_tag }}
                            <div class="input">
                                {{ field }}
                                {{ field.errors }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="actions">
                    <input type="submit" class="btn btn-primary" value={% trans "Change password" %} />
                </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock content %}
