{% extends "base.html" %}

{% load i18n %}

{% block title %}
{% trans "Change Password" %}
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-sm-2 col-md-1"></div>
    <div class="col-sm-8 col-md-7">
        <h1 class="page-header">{% trans "Change Password" %}</h1>

        {% for error in form.non_field_errors %}
        <p class="form-error">{{ error }}</p>
        {% endfor %}
        <form class="form-horizontal" method="post" action="{% url 'auth_set_password' token %}">
            {% csrf_token %}
            {% for field in form %}
            {% if field.label != 'Old password' and token %}
            <div class="form-group {% if field.errors %} has-error {% endif %} ">
                <label class="col-md-3 control-label">{{ field.label }}</label>
                <div class="col-md-9">
                    {{ field }}
                    <div class="form-error">
                        {{ field.errors }}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <div class="form-actions register-button">
                <input type="submit" class="btn btn-primary" value="{% trans "Change password" %}" />
            </div>
        </form>
    </div>
</div>
{% endblock content %}
