{% extends "base.html" %}
{% load markdown_deux_tags %}
{% load misc %}

{% block title %}
Register Arrivals
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
	        <h1>Register Arrivals</h1>
        </div>
    </div>
    
    <div class="row">
    {% if attendees %}
        <div class="col-md-4">
            <span>Filter: </span><input type="text" id="FilterTextBox" name="FilterTextBox" />
        </div>
        <div class="col-md-5 attendee-counts">
            <span>Attending: {{attendees.count}}</span>
            <span>Paid: {{paid_count}}</span>
            <span>Arrived: {{arrived_count}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <!-- Adding token here because using clientside js using the csrfcookie is a security liability -->
            <div style="display:none">
                <input id="token" type="hidden" value="{{ csrf_token }}">
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped filterable">
                    <thead>
                        <th>Username</th><th>Full name</th><th>Email Address</th><th>Paid</th><th>Arrived</th>
                    </thead>
                    <tbody>
                        {% for attendee in attendees %}
                        <tr>
                            {% if attendee in user_seats%}
                            <td class="username"><a href="{{ user_seats|get_seating_url:attendee }}{{ user_seats|get_seat_placement:attendee }}">{{ attendee.user.username }}</a></td>
                            {% else %}
                            <td class="username">{{ attendee.user.username }}</a></td>
                            {% endif %}
                            <td>{{ attendee.user.get_full_name }}</td>
                            <td>{{ attendee.user.email }}</td>
                            <td>
                                {% if attendee.user in ticket_users %}
                                    <span class="label label-info">{{ ticket_users|get_user:attendee.user }} </span>
                                {% elif attendee.has_paid %}
                                    <span class="paid label label-success" value="True">Toggle</span>
                                {% else %}
                                    <span class="paid label label-danger" value="False">Toggle</span>
                                {% endif %}
                            </td>
                            <td>
                            {% if attendee.arrived %}
                                <span class="arrived label label-success" value="True">Toggle</span>
                            {% else %}
                                <span class="arrived label label-danger" value="False">Toggle</span>
                            {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div class="col-md-9">
            <div class="alert alert-warning">There are no attendees for this LAN.</div>
        </div>
    {% endif %}
    </div>
    <script src="{{ STATIC_URL }}js/arrival.js"></script>

{% endblock content %}
