{% extends "base.html" %}
{% load markup %}

{% block title %}
studLAN - {% if upcoming %}Upcoming{% else %}Previous{% endif %} LANs 
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="span9">
            <h1>Arrivals - choose a LAN</h1>
        </div>
    </div>
    <div class="row">
        <div class="span9">
            <ul>
            {% for lan in lans %}
                <li><a href="{% url 'arrivals' lan.id %}">{{ lan }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}
