{% extends "base.html" %}
{% load markdown_deux_tags %}

{% block title %}
{% if upcoming %}Upcoming{% else %}Previous{% endif %} LANs 
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h1>Arrivals - choose a LAN</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <ul>
            {% for lan in lans %}
                <li><a href="{% url 'arrivals' lan.id %}">{{ lan }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}
