{% extends "base.html" %}

{% load i18n %}
{% load markdown_deux_tags %}

{% block title %}
{{ lottery }}
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <h1 class="page-header">{{ lottery }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        {{ lottery.get_translation.description | markdown }}
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <p><strong>{% trans "Participants:" %}</strong> {{ participants|length }}
        {% if winner %}
        <p><strong>{% trans "Last winner:" %}</strong> <a href="{% url 'public_profile' winner %}">{{ winner.user.username }}</a></p>
        {% endif %}
        <p>
            {% if lottery.registration_open %}
            {% if user.is_authenticated %}
            {% if request.user in participants %}
            <a class="btn btn-danger" href="{% url 'sign_off' lottery.id %}">{% trans "Leave" %}</a>
            {% else %}
            <a class="btn btn-success" href="{% url 'sign_up' lottery.id %}">{% trans "Join" %}</a>
            {% endif %}
            {% else %}
            <div class="alert alert-danger">{% trans "You need to be logged inn to participate." %}</div>
            {% endif %} {# user.is_authenticated #}
            {% else %}
            <div class="alert alert-danger">{% trans "Signup closed." %}</div>
            {% endif %} {# lottery.registration_open #}

            {% if perms.lottery.draw %}
            <a class="btn btn-info" href="{% url 'drawing' lottery.id %}">{% trans "Go to drawing" %}</a>
            {% endif %}
        </p>
    </div>
</div>
{% endblock content %}
