{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h2>{{ lottery }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <a class="btn btn-success" href="{% url 'draw' lottery.id %}">Draw</a>
        </div>
    </div>
    
    {% if winner %}
    <div class="row">
        <div class="col-md-9">
            <h3>Winner:</h3>
            <p><a href="{% url 'public_profile' winner %}">{{ winner.user.username }}</a></p>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-9">
            <h2>Winners</h2>
            <table class="table table-bordered table-striped table-hover click-table">
                <tbody>
                    {% for winner in lottery.lotterywinner_set.all reversed %}
                        <tr onclick="document.location='{% url 'public_profile' winner %}';">
                            <td>{{ winner.user.username }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
