version: '3.6'

services:
  app:
    container_name: studlan-dev-app
    image: studlan
    build:
      context: ..
    environment:
    - SUPERUSER_USERNAME=batman
    - SUPERUSER_EMAIL=batman@localhost
    - SUPERUSER_PASSWORD=manbat
    - SUPERUSER_INACTIVE=false
    - DJANGO_DEV_SERVER=${DJANGO_DEV_SERVER:-}
    volumes:
    - ../.local/docker-full/local.py:/srv/studlan/studlan/settings/local.py:ro
    - ../.local/docker-full/db.sqlite3:/srv/studlan/db.sqlite3:rw
    - ../.local/docker-full/log:/srv/studlan/log:rw
    # Source dirs, in case of changes
    - ../apps/:/srv/studlan/apps/:ro
    - ../studlan/:/srv/studlan/studlan/:ro
    - ../templates/:/srv/studlan/templates/:ro
    - ../files/:/srv/studlan/files/:ro
    - ../locale/:/srv/studlan/locale/:ro
    ports:
    - "8000:8080"
