{% extends "base.html" %}
{% load i18n %}
{% load markdown_deux_tags %}
{% load static %}

{% block title %}
{% trans 'Ticket Checkout' %}
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 col-md-offset-1 col-md-7">
            <h1 class="page-header">{% trans "Ticket Checkout" %}</h1>

            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td><strong>{% trans "LAN" %}</strong></td>
                        <td>{{ lan }} (<a href="{{ lan.get_absolute_url }}">{% trans "view LAN" %}</a>)</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Ticket type" %}</strong></td>
                        <td>{{ ticket_type }} (<a href="{% url 'lan_tickets' lan_id=lan.id %}">{% trans "view all tickets" %}</a>)</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Description" %}</strong></td>
                        <td>{{ ticket_type.get_translation.description }}</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Price" %}</strong></td>
                        <td>{{ ticket_type.verbose_price }}</td>
                    </tr>
                </tbody>
            </table>

            <h3>{% trans "Your Information" %}</h3>
            <p>
                {% url 'update_profile' as update_profile_url %}
                {% blocktrans trimmed %}
                By purchasing a ticket, you are confirming that all of the information about you is correct.
                If not, update it now in your <a href="{{ update_profile_url }}">profile settings</a>.
                {% endblocktrans %}
            </p>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td><strong>{% trans "First name" %}</strong></td>
                        <td>{{ user.first_name }}</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Last name" %}</strong></td>
                        <td>{{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Email" %}</strong></td>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Date of birth" %}</strong></td>
                        <td>{{ user.profile.date_of_birth }}</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Street address" %}</strong></td>
                        <td>{{ user.profile.address }}</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Postal code" %}</strong></td>
                        <td>{{ user.profile.zip_code }}</td>
                    </tr>
                    <tr>
                        <td><strong>{% trans "Phone" %}</strong></td>
                        <td>{{ user.profile.phone }}</td>
                    </tr>
                </tbody>
            </table>

            <h3>{% trans "Payment" %}</h3>
            <form id="card-form">
                <h4>{% trans "Card holder name" %}</h4>
                <div>
                    <input class="form-control" id="cardholder-name" name="cardholder-name" placeholder="{% trans "Card holder name" %}" type="text" required/>
                </div>
                <br />
                <h4>{% trans "Card info" %}</h4>
                <div class="form-control" id="card-element"></div>
                <br />
                <div>
                    <input id="accept-rules" name="accept-rules" type="checkbox" required/>
                    <label for="accept-rules">{% trans "I accept the rules for the LAN, as described on the LAN page. (Required)" %}</label>
                </div>
                <br />
                <div>
                    <input id="correct-information" name="correct-information" type="checkbox" required/>
                    <label for="correct-information">{% trans "My information above is correct. (Required)" %}</label>
                </div>
                <br />
                <div>
                    <button class="btn btn-success" id="card-button">{% trans "Submit payment" %}</button>
                </div>
                <input type="submit" id="test-submit" style="display: none" />
            </form>
            <br />
            <a href="{% url 'payment_info' ticket_type.id %}">{% trans "About our payment security" %}</a>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script>
        var stripe_public_key = '{{ stripe_public_key }}';
        var csrf_token = '{{ csrf_token }}';
        var lan_url = '{{ lan.get_absolute_url }}';
        var payment_url = '{% url 'payment' ticket_type.id %}';
    </script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'js/payment.js' %}"></script>
{% endblock script %}
