{% extends "base.html" %}
{% load i18n %}
{% load markdown_deux_tags %}
{% load misc %}
{% load profile_tags %}

{% block title %}
{% trans "Inbox" %}
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <h1 class="page-header">{% trans "Inbox" %}</h1>

        {% if postman_messages %}
        {% for pm in postman_messages %}
        <div class="panel panel-default">
            <div class="panel-heading">{{pm.sent_at}} - {{pm.sender}}</div>
            <div class="panel-body">{{pm.body|safe}}</div>
        </div>
        {% endfor %}
        {% else%}
        <div class="alert alert-info">{% trans "No messages." %}</div>
        {% endif %}
    </div>
</div>
{% endblock content %}
