{% load i18n %}

<div class="row">
    <div class="col-md-9">
        <h3>{% trans "Public Information" %}</h3>
        <p><small>{% trans "This information is visible to everyone." %}</small></p>
        <table class="table">
            <tbody>
                <tr>
                    <td>{% trans "Username" %}</td>
                    <td>{{ quser.username }}</td>
                </tr>
                <tr>
                    <td>{% trans "Nick" %} </td>
                    <td>{{ profile.nick }}</td>
                </tr>
            </tbody>
        </table>

        {% if user == quser or perms.userprofile.show_private_info %}
        <h3>{% trans "Private Information" %}</h3>
        <p><small>{% trans "This information is only visible to you and select staff users." %}</small></p>
        <table class="table ">
            <tbody>
                <tr>
                    <td>{% trans "First name" %}</td>
                    <td>{{ quser.first_name }}</td>
                </tr>
                <tr>
                    <td>{% trans "Last name" %}</td>
                    <td>{{ quser.last_name }}</td>
                </tr>
                <tr>
                    <td>{% trans "Email" %}</td>
                    <td>{{ quser.email }}</td>
                </tr>
                <tr>
                    <td>{% trans "Date of birth" %}</td>
                    <td>{{ profile.date_of_birth }}</td>
                </tr>
                <tr>
                    <td>{% trans "Street address" %}</td>
                    <td>{{ profile.address }}</td>
                </tr>
                <tr>
                    <td>{% trans "Postal code" %}</td>
                    <td>{{ profile.zip_code }}</td>
                </tr>
                <tr>
                    <td>{% trans "Phone" %}</td>
                    <td>{{ profile.phone }}</td>
                </tr>
                <tr>
                    <td>{% trans "Is staff" %}</td>
                    <td>{{ quser.is_staff }}</td>
                </tr>
                <tr>
                    <td>{% trans "Join date" %}</td>
                    <td>{{ quser.date_joined }}</td>
                </tr>
                <tr>
                    <td>{% trans "Last login" %}</td>
                    <td>{{ quser.last_login }}</td>
                </tr>
            </tbody>
        </table>

        {% if attendances %}
        <h4>{% trans "LAN History" %}</h4>
        {% include "user/history_table.html" %}
        {% endif %}

        {% if competitions %}
        <h4>{% trans "Competition History" %}</h4>
        {% include "competition/competition_user_table.html" %}
        {% endif %}

        {% endif %}{# Authorized to view private info #}
    </div>
</div>
