{% extends "base.html" %} 
{% load i18n %}
{% load markdown_deux_tags %} 
{% load misc %}
{% load profile_tags %} 

{% block title %} 
{% if user == quser %} 
    My Profile 
{% else %} 
    Profile 
{% endif %} 
{% endblock title %} 

{% block content %}
    <div class="row">
        {% if user == quser or user.is_staff %}
            <div class="col-md-4">
                {% if user == quser %}
                    <h3>{% trans "My Profile" %}</h3>
                {% else %}
                    <h3>{% trans "Profile" %}</h3>
                {% endif %}
            </div>
        {% else %}
            <div class="col-md-8">
                {% if user == quser %}
                    <h3>{% trans "My Profile" %}</h3>
                {% else %}
                    <h3>{% trans "Profile" %}</h3>
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% if user == quser %}
        {% profile_tabs 'profile' %}
    {% endif %}
    <div class="row">
        {% if user == quser or user.is_staff %}
            <div class="col-md-4">
        {% else %}
            <div class="col-md-8">
        {% endif %}
		        <table class="well table table-condensed">
		            <tbody>
		                <tr>
		                    <td>{% trans "Username" %}</td>
		                    <td>{{ quser.username }}</td>
		                </tr>
		                <tr>
		                    <td>{% trans "First name" %}</td>
		                    <td>{{ quser.first_name }}</td>
		                </tr>
		                <tr>
		                    <td>{% trans "Last name" %}</td>
		                    <td>{{ quser.last_name }}</td>
		                </tr>{% if user == quser or user.is_staff %}
		                <tr>
		                    <td>{% trans "Email" %}</td>
		                    <td>{{ quser.email }}</td>
		                </tr>{% endif %}
		            </tbody>
		        </table>
        	</div>

            {% if user == quser or user.is_staff %}
            <div class="col-md-4">
                <table class="well table table-condensed">
                    <tbody>
                        <tr>
                            <td>{% trans "Nick" %} </td>
                            <td>{{ profile.nick }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "Gender" %}</td>
                            <td>{{ profile.get_gender_display|lower|capfirst }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "Date of birth" %}</td>
                            <td>{{ profile.date_of_birth }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "Street address" %}</td>
                            <td>{{ profile.address }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "Zip/Postal code" %}</td>
                            <td>{{ profile.zip_code }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "Phone" %}</td>
                            <td>{{ profile.phone }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
    {% if user_seats %}
    <div class="row">
    	<div class="col-md-8">
	        <h2>Seating info</h2>
	        {% for seat in user_seats %}
	        <div class="col-md-6">
	            <div class="panel panel-default">
	            	<a href="{{seat.seating.lan.get_absolute_url}}">
		            <div class="panel-body">
		            	Event: {{seat.seating.lan}}
		            </div></a>
		            <a href="{{seat.seating.get_absolute_url}}">
		        	<div class="panel-footer">
			        	Seating: {{seat.seating}} <br> Seat: {{seat.placement}}
			        </div></a>
		        </div>
		    </div>
	        {% endfor %}
	{% endif %}
    </div>
{% endblock content %}