{% load i18n %}
<div class="row table-tabs">
    <div class="col-md-9">
        <ul class="nav nav-tabs">
            <li{% if active == 'profile' %} class="active"{% endif %}><a href="{% url 'my_profile' %}">{% trans "Profile" %}</a></li>
            <li{% if active == 'update' %} class="active"{% endif %}><a href="{% url 'update_profile' %}">{% trans "Edit Profile" %}</a></li>
            <li{% if active == 'history' %} class="active"{% endif %}><a href="{% url 'user_history' %}">{% trans "LANs" %}</a></li>
            <li{% if active == 'competitions' %} class="active"{% endif %}><a href="{% url 'user_competitions' %}">{% trans "Competitions" %}</a></li>
            <li{% if active == 'alias' %} class="active"{% endif %}><a href="{% url 'alias' %}">{% trans "Aliases" %}</a></li>
        </ul>
    </div>
</div>
